{% extends 'detecter/base.html' %}
{% block content %}
<h4>{{ main }}</h4>
<div class="card col-6 p-0 m-auto">
<form enctype="multipart/form-data" action="{% url 'main' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Визначити</button>
</form>
</div>
{% if result %}
<div class="card col-6 p-0 m-auto">
                            <div class="card-body">
                                {{ result }}
                            </div>
</div>
{% endif %}
{% endblock content %}